* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	font-family: 'Comic Sans MS', 'Nunito', 'Trebuchet', 'Arial', 'sans serif';
	font-size: 1em;
	text-align: center;
}

a, a:active, a:visited {
	color: black;
	text-decoration: none;
}
